.Sidebar
  .Sidebar__content
    .Sidebar__content__top
      .Sidebar__content__top__user-name masa
      .Sidebar__content__top__icon
        = link_to "＃"
        = icon("far", "edit", class: 'Sidebar__content__top__icon__writing')
        = icon("fas", "cog", class: 'Sidebar__content__top__icon__gear')
       
  .Sidebar-groups
    .Sidebar-groups__list
      .Sidebar-groups__list__name techcamp
      .Sidebar-groups__list__message まだメッセージがありません
