.sidebar
  .sidebar-user-name
    .top-items 
      .user-name masa
      .icon
        = link_to "＃"
        = icon("far", "edit", class: 'writing')
        = icon("fas", "cog", class: 'gear')
       
  .sidebar-groups-list
    .group
      .group-name techcamp
      .new-message まだメッセージがありません
