* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.sidebar{
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.sidebar-user-name{
  background-color: #253141;
  height: 100px;
  width:  300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-items{
  height: 20px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .user-name{
   font-size: 16px;
   color: #ffffff;
 }

 .icon{
  width: 60px;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
 }

 .writting{
   color: #ffffff;
 }

 .gear{
   color: #ffffff;
   margin-left: 5px;
 }

.sidebar-groups-list{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  width:  300px;
}

.group{
  background-color: #2f3e51;
}

.group-name{
  color: #ffffff;
  font-size: 15px;
  padding: 20px 20px 5px 20px;
}

.new-message{
  color: #ffffff;
  vertical-align: middle;
  font-size: 11px;
  padding: 0px 20px 40px;
}


.main{
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
  display: flex;
  flex-direction: column;;
}

.main-group-info{
  background-color:#ffffff;
  height: 100px;
  width: calc(100vw - 300px);
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
}

.main-group-name{ 
  color: #333333;
  font-size: 20px;
  padding: 35px 0px 15px 40px;
  display: flex;
}

.member-list{
  color: #999999;
  font-size: 12px;
  padding-left: 40px;
  display: flex;
}

.member-name{
  color: #999999;
  font-size: 12px;
}

.link{
  display: block;
  color: #38aef0;
  border: 1px solid #38aef0;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin: 28px;
  padding: 0 20px;
  text-decoration: none;
}

.main-message-list{
  background-color: #fafafa;
  height: calc(100vh - 190px);
  width: calc(100vw - 300px);
  padding: 35px 40px 0;
}

.message-box{
  display: flex;
}

.message-username{
color: #333333;
font-size: 16px;
}

.message-date{
color: #999999;
font-size: 12px;
padding-left: 10px;
}

.message{
  padding-bottom: 46px;
}

.message-contet{
  color: #434A54;
  font-size: 14px;
}

.main-message-form{
  background-color: #d2d2d2;
  height: 90px;
  width: calc(100vw - 300px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 40px;
}

.big-text{
  width: 100%;
  position: relative;
}

.text{
  border: none;
  height: 50px;
  width: 100%;
  padding: 0 10px;
}

.label{
  position: absolute;
  height: 50px;
  right: 10px;
  transform: translate(0, 25%);
}

.file{
  display: none;
}

.image{
  line-height: 50px;
  font-size: 25px;
}

.send{
  background-color: #38AEF0;
  border: none;
  color: #fff;
  font-size: 16px;
  height: 50px;
  padding: 0 30px;
  margin: 10px 0 10px 15px;
}